<html>
    <head>
        <title>ポケモン150匹企画</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
    </head>
    
    <body>
    <h2>トップページ</h2>
    
    <div>ポケモン150匹企画専用の公式Webサイトです。え、こんな簡素なの？　そうです…。Twitterでは「#150匹企画」を付けてつぶやいてください。</div>

    <div>捕獲の詳細が分かる<a href=/detail>詳細ページへ</a>／ルールと歴史が分かる<a href=/rule>ルールページへ</a>／ゲンガーズの作戦が分かる<a href=/gengars>ゲンガーズ作戦ページへ</a></div>
    
    <h3>現在の進捗と直近5匹の捕獲状況</h3>
    
    <table class="nowNumber">
        <tr>
            <th class="clefable" colspan="2">ピクシーズ</th>
            <th class="gengar" colspan="2">ゲンガーズ</th>
        </tr>
        <tr>
            <td class="clefable" colspan="2"><span class="number">{{ clefableNumber }}</span>匹 / 150匹</td>
            <td class="gengar" colspan="2"><span class="number">{{ gengarNumber }}</span>匹 / 150匹</td>
        </tr>
        {% for i in range(5) %}
        <tr>
            {% if clefablePokemonList[i].clefableFlag %}
                <td class="clefable">{{ clefablePokemonList[i].pokemon }}</td>
                <td class="clefable">{{ clefablePokemonList[i].clefableStrTime }}</td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
            {% if gengarPokemonList[i].gengarFlag %}
                <td class="gengar">{{ gengarPokemonList[i].pokemon }}</td>
                <td class="gengar">{{ gengarPokemonList[i].gengarStrTime }}</td>
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
    <h3>ustream配信</h3>

    <iframe width="480" height="270" src="http://www.ustream.tv/embed/21698374?html5ui" allowfullscreen webkitallowfullscreen scrolling="no" frameborder="0" style="border: 0 none transparent;"></iframe>
        
    <div>捕獲の詳細が分かる<a href=/detail>詳細ページへ</a>／ルールと歴史が分かる<a href=/rule>ルールページへ</a>／ゲンガーズの作戦が分かる<a href=/gengars>ゲンガーズ作戦ページへ</a></div>
    </body>
</html>