<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
        ポケモン150匹企画リターンズ
    </title>
  </head>
  <body>
    <div>登録画面</div>
    
  <form action="/register" method="POST">
    <input type="text" name="pokemon">
    <select name="team">
      <option value="ピクシーズ">ピクシーズ</option>
      <option value="ゲンガーズ">ゲンガーズ</option>
    </select>
    <input type="submit", value="送信">
  </form>
    <!-- この書き方はjinja2特有の書き方で、if文などを書けます -->
    {% if getPokemon %}
      今入力したのは{{ getPokemon }}で、捕まえたチームは{{ getTeam }}です。
    {% endif %}

    <!-- 一応画面に保持しているデータを出しているだけです -->
    {% for datum in registerViewInfo %}
  <div>{{ datum.pokemon }}、ピクシーズ：{{ datum.clefableFlag }}、ゲンガーズ：{{ datum.gengarFlag }} </div>
    {% endfor %}
  <div>

  <a href=../>メインページへ戻る</a>
  </body>
</html>
